<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial De Noticias</title>
</head>
<body>
    <h1>Historial De Noticias</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created At</th>
                <th>User ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% news.forEach(function(singleNews) { %>
                <tr>
                    <td><%= singleNews.id %></td>
                    <td><%= singleNews.title %></td>
                    <td><%= singleNews.content %></td>
                    <td><%= singleNews.created_at %></td>
                    <td><%= singleNews.user_id %></td>
                    <td>
                        <a href="/edit/<%= singleNews.id %>" class="btn btn-primary">EDITAR&nbsp; </a>
                        <a href="/delete/<%= singleNews.id %>" class="btn btn-danger">ELIMINAR</a>
                      </td>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
